---
layout: default
title: Jan Knappe
---

<div class="home" id="home">
  
  <div class="clearfix"> <img src="{{site.url}}/assets/img/Knappe_round.jpg" class="with-text"> 
  <p><span class="dropcap">H</span>i there, I am Jan - an environmental scientist working towards achieving our global goals for universal access to safe water and sanitation with an undeniable passion for travelling, photography, data science, and fun facts. Find out more about my work and what drives me on this blog and feel free to <a href="{{site.url}}/pages/contact/">get in touch with me</a> anytime.</p>
  </div> 
  
  <h2 class="pageTitle">Recent Posts</h2>
  <ul class="posts noList">
    {% for post in paginator.posts %}
      <li>
        <span class="date">{{ post.date | date: '%B %d, %Y' }} | {{ post.content | number_of_words | divided_by:150 }} Minute Read</span>
        <h3><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
        <p>{% if post.description %}{{ post.description }}{% else %}{{ post.excerpt | strip_html }}{% endif %}</p>
      </li> 
    {% endfor %}
  </ul>
  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous button__outline">Newer Posts</a> 
    {% endif %}
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next button__outline">Older Posts</a>
    {% endif %}
  </div>
</div>
